.progressBar::before {
    content: ""

}

.map-container2
{
    left: 3%;
    margin-top: 30px;
    width: 95%;
    margin-right: 50px;
    height: 85vh;
}

::-webkit-scrollbar {
    margin-left: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d55959;
}
